.heading1
{
  margin-left: 10px;
  text-align: left;
}
.cases {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.case-card {
  padding-top: 2rem;
  margin: 0.2rem;
  cursor: pointer;
  height: 120px;
  width: 250px;
  padding-inline: 25px;
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
}
.case-card:hover {
  transition: ease-in-out 0.5s;
  font-size: 1.5rem;
  color: #ffffff;
  background: rgb(245, 145, 32);
}
.case-card:hover > h3 {
  font-size: 2rem !important;
  transition: ease-in-out 0.5s;
  color: #ffffff;
}

.case-lists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
  border-radius: 0.3rem;
  width: 95%;
  padding-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 1px 3px;
}
.menu1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem 1rem;
}
.menu1 input {
  width: 18vw;
  padding: 0 0.5rem;
  border-radius: 5px;
  border-color: grey;
}
.case-set1
{
  display: flex;

}
.form-buttons
{
  display: flex;
  justify-content: space-between;
 
}
@media only screen and (max-width: 740px) {
  .cases {
    flex-direction: column;
    
  }
  .heading1
{
  margin-left: 10px;
  text-align: center;
}
  .case-card {
   
    padding-top: 1.5rem;
    cursor: pointer;
    height: 114px;
    width: 110px;
    padding-inline: 19px;
  }
  .case-set1
{
   justify-content: center;
 
}
.case-lists {

  margin-left: 1.3rem !important;

  width: 92%;

}
.menu1 input {
  width: 137px;
  
}
.form-1
{
  flex-direction: column;
}
.form-buttons
{
 flex-direction: column;
 margin-bottom: 0.5rem;
}
.footer-text
{
  display: none;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .case-set1
{
 
  justify-content: center;
  
}
.footer
{
  bottom: 0;
  /* justify-content: center; */
  /* display: flex; */
  position: absolute;
  width: 100vw;
}
.heading1
{
  margin-left: 10px;
  text-align: left;
}
.cases {
  flex-direction: column;
  
}
.case-card {
 
  padding-top: 1.5rem;
  cursor: pointer;
  height: 130px;
  width: 300px;
  padding-inline: 19px;
 
}
.case-lists {
width: 100%;
}

}
@media only screen and (width: 540px) {
  .case-set1
{
   margin-bottom: 0;
  justify-content: center;
  
}
.heading1
{
  margin-left: 10px;
 
}
.cases {
  flex-direction: column;
  
}
.case-card {
 
  padding-top: 1.5rem;
  cursor: pointer;
  height: 130px;
  width: 210px;
  padding-inline: 19px;
 
}
.footer
{
  bottom: 0;
  /* justify-content: center; */
  /* display: flex; */
  
  width: 100vw;
}
}
@media only screen and (width: 280px) {
  .case-set1
{
   margin-bottom: 0;
  justify-content: flex-end;
  
}
.cases {
  flex-direction: column;
  
}
.heading1
{
  margin-left: 10px;
  text-align: center;
}
.case-card {
 padding-top: 1.5rem;
  cursor: pointer;
  height: 110px;
  font-size: 12px;
    width: 88px;
  padding-inline: 19px;
 
}
.menu1 {
 
  flex-direction: column;
  
}
.menu1 a {
 
  margin-bottom: 1rem;
  
}
.footer
{
  bottom: 0;
  /* justify-content: center; */
  /* display: flex; */
  /* position: absolute; */
  width: 100vw;
}
.footer-text
{
  display: none;
 
}
}
@media only screen and (width: 1024px) {
  .case-set1
  {
   
    justify-content: center;
    
  }
  .cases {
    flex-direction: row;
    
  }
  .heading1
  {
    margin-left: 10px;
    text-align: left;
  }
  .case-card {
   
    padding-top: 1.5rem;
    cursor: pointer;
    height: 130px;
    width: 205px;
    padding-inline: 19px;
  
  }
  .footer
{
  bottom: 0;
  /* justify-content: center; */
  /* display: flex; */
  position: static !important;
  width: 100vw;
}
}