* {
  margin: 0;
  padding: 0;
}

nav ul {
  padding-left: 0;
}
nav {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(245, 145, 32);
  height: 100%;
  width: 66px;
  overflow: hidden;
  transition: width 0.2s linear;
  z-index: 99999;
}
.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
.profile {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.links {
  position: relative;

  display: table;
  width: 300px;
  padding: 8px 0;
}
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 11px;
  font-size: 17px;
  text-align: center;
}
.nav-items {
  position: relative;
  top: 12px;
  font-size: 1.2rem;
  margin-left: 0;
}
.links:hover {
  background: rgb(238, 231, 218);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
  /* -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 25px 0px 0px 25px; */
}
nav:hover {
  width: 300px;
  transition: all 0.5s ease-in-out;
}
.item {
  padding: 0;
  margin-left: 0;
}
