
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&family=Quicksand&family=Rubik:wght@300;400&display=swap');

.form-floating > label {
  left: 9px;
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}
ul {
  list-style-type: none;
}
.form-floating {
  padding: 0;
}


html,body {
  background: rgb(238, 231, 218);
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  
}
.bottom-modal {
  position: fixed;
  left: 0;

  bottom: 0;
  z-index: 9999;
  width: 100%;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-out;
}
.modal-header {
  border-bottom: none;
}
.bottom-modal .modal-content {
  border-radius: 1px solid;
  border: none;
  font-weight: bold;
  background-color: rgb(245, 145, 32); /* Set the desired background color */
  color: white; /* Set the desired text color */
}
.modal-body {
  padding: 0;
}
.bottom-modal.show {
  transform: translate(0, 500px);
}

/*styles for image pop up */
.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.image-modal {
  background-color: white;
  width: 90%;
  max-width: 800px;
  max-height: 80vh;
  overflow: hidden; 
  overflow-y: scroll;
  position: relative;
  
}


  .close-button {
    position: fixed;
    top: 20px;
    background-color: rgb(245, 145, 32);
    right: 20px;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
  }
  .close-button:hover {
 
    background-color: rgb(245, 145, 32);
  
  }

  .opened-image {
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .image-modal {
      width: 90%;
      max-width: 90%;
      max-height: 70vh;
    }
  }

  @media (max-width: 576px) {
    .image-modal {
      width: 76%;
      padding: 5px;
      max-width: 90%;
      max-height: 60vh;
      margin-left: 4rem;
    }
  }
